.faq {
    padding: 10px 20px;
    margin: 20px 0;
    background-color: rgb(254, 254, 254);
    border-radius: 3px;
}
.faq h4,
.faq p {
    margin: 0;
}
.header {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
}
.faq .header button {
    background-color: rgb(251, 251, 251);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    font-size: 12px;
}
.faq .header button:hover {
    background-color: rgb(248, 248, 248);
    transition: 250ms;
}
.ico-plus {
    color: #4CAF50;
}
.ico-minus {
    color: orangered;
}
.content {
    padding: 5px 0;
}